$body-background-color: #ECF0F3;
$primary: #008080;
$size-7: .9rem;
$box-radius: 0;
$box-padding: 1rem;
$card-shadow:  0 1px 3px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.1);
$box-shadow:  0 1px 3px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.1);

@import '~bulma';
@import './styles.scss'